<div class="flex-wrapper">
  <div class="form_auth_block">
    <div class="form_auth_block_content">
      <p class="form_auth_block_head_text">Авторизация</p>

      <%= form_for(:session, url: login_path, class: "form_auth_style") do |f| %>
        <%= f.label :name, 'Имя' %>
        <%= f.text_field :name, required: true %>

        <%= f.label :password, 'Пароль' %>
        <%= f.password_field :password, required: true %>

        <%= f.submit "Войти" %>
      <% end %>
    </div>
  </div>
  <div>
